POSTGRES_MAIN_PASSWORD=changeme_main
POSTGRES_CHAT_PASSWORD=changeme_chat
JWT_SECRET=super_secret_jwt_key_minimum_32_characters_long
INTERNAL_API_KEY=internal_service_shared_secret_key
DEFAULT_STAFF_PASSWORD=P@ssw0rd
